<style>
    li {
        padding-left:0px;
        margin-left:-8px;
        text-align:left;
    }
</style>
<div class="heading-about marginbot-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="section-heading">
                    <h2>Rules</h2>
                    <p>Assassins is a game where everyone in the game is assigned a target, who is someone else in the game. You then find your target in real life and eliminate him. After eliminating your target, you go after his target.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="ripple grey team boxed-grey">
                <div class="inner">
                    <h5>Eliminating Your Target</h5>
                    <p class="subtitle">
                        You eliminate your target successfully by touching your target with the designated weapons. Below are allowable weapons:
                        <ul>
                            <li>tag your target with a sticky-note (or paper & tape) saying "BOOM!" on it</li>
                            <li>tagging a target on the skin with a marker (clothes won't count)</li>
                            <li>touching a target with something made of bamboo (chopsticks, backscratchers, sushi mats, etc.)</li>
                        </ul>     
                        @Html.ActionLink("Read about the cultural significance of the weapons here.", "Weapons", "Home")
                    </p>
                </div>
            </div>
            <div class="ripple grey team boxed-grey">
                <div class="inner">
                    <h5>Your Target</h5>
                    <p class="subtitle">
                        Your target is the person you are currently assigned to eliminate. When you eliminate your target, you take their target. You iterate through targets and so on. Click on your profile to see who your current target is. Note, you will never be assigned a target from your own family. However, there will be a point where it’s possible that you acquire someone from your family through killing. At this point, you can choose to stop or kill your family member and take on their target.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="ripple grey team boxed-grey">
                <div class="inner">
                    <h5>Elimination</h5>
                    <p class="subtitle">When you die, your targeter will be reassigned to target the player whom you were targeting. The application will automatically reassign targets when a kill is confirmed. When you are dead, you are out of the game.</p>
                </div>
            </div>
            <div class="ripple grey team boxed-grey">
                <div class="inner">
                    <h5>Game Conduct</h5>
                    <p class="subtitle">
                        <strong>ROUGHNESS OR EXTREME PHYSICALITY WILL NOT BE TOLERATED.</strong> Points will be deducted from your family if there are reports of violations and if it’s extreme enough, you will be disqualified. This is just a game and the point is to have fun. Be competitive but use your judgement when it comes to your actions. Have good sportsmanship: Be a humble killer but also don’t be a salty victim. Again, it’s just a game.
                    </p>
                </div>
            </div>
            @*<div class="ripple grey team boxed-grey">
                <div class="inner">
                    <h5>Allowable Weapons</h5>
                    <p class="subtitle">Ways to kill players in this game will be:</p>
                    <ul class="rules">
                        <li>
                            tag your target with a sticky-note (or paper & tape) saying "BOOM!" on it
                        </li>
                        <li>
                            tagging a target on the skin with a marker (clothes won't count)
                        </li>
                        <li>
                            touching a target with something made of bamboo (chopsticks, backscratchers, sushi mats, etc.)
                        </li>
                    </ul>
                </div>
            </div>*@
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="ripple grey team boxed-grey">
                <div class="inner">
                    <h5>Safe Zones</h5>
                    <p class="subtitle">Safe Zones are areas in which you cannot eliminate or be eliminated by anyone. Safe zones include:</p>
                    <ul class="rules">
                        <li><strong>Cabell and Tompkins-McCaw Library</strong></li>
                        <li><strong>Cary Street Gym</strong></li>
                        <li><strong>Shafer (both floors)</strong></li>
                    </ul>
                    <p class="subtitle">The following places have 15 minute grace period BEFORE and AFTER:</p>
                    <ul class="rules">
                        <li><strong>CSA events</strong> (and 15 minutes before and after them)</li>
                        <li><strong><a style="padding:0px;" href="http://goo.gl/zmfRZ8" target="_blank">CSA Culture Show practices</a></strong></li>
                        <li><strong>Classes</strong></li>
                        <li><strong>Workplaces</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="ripple grey team boxed-grey">
                <div class="inner">
                    <h5>Reporting Eliminations</h5>
                    <p class="subtitle">When you eliminate someone, report it right away. You must post a picture with you, your weapon, and your dead target to the CSA Assassin Facebook page AND this website. For this site, click on your profile in the menu. There will be a "Confirm a Kill" button. Report your kill as soon as possible to keep the game running smoothly.</p>
                </div>
            </div>
            <div class="ripple grey team boxed-grey">
                <div class="inner">
                    <h5>Outside Assistance</h5>
                    <p class="subtitle">No one is allowed to eliminate your target but you. They may help you find a target but they CANNOT physically do anything to help you. Examples include but not limited to, holding the target from running, blocking the target’s way, closing doors on them etc. Only you should be physically touching your target.</p>
                </div>
            </div>
        </div>
    </div>
</div>